*
{
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    background: -webkit-linear-gradient(60deg, #e570e7 0%, #c85ec7 44%, #883499 84%);
    -webkit-background-clip: text;
     color: transparent;
    
}

nav ul
{
     display: flex;
    flex-direction: column;
}

nav ul li
{
    padding: 1%;
}


nav ul li a
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

ul
{
    list-style-type: none;
}

section ul
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section ul li
{
    text-align: center;
}


h2
{
    text-decoration: none;
    color: white;
    text-align: center;
}


@media(min-width:800px)
{
    
    nav
    {
        flex-grow: 1;
    }
    
    nav  ul 
    {
        flex-direction: row;
        justify-content: space-around;
    }
    
    header
    {
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    
    header h1
    {
        align-self:flex-start;
    }
    
    section ul
    {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width:1200px)
{
    nav ul
    {
        align-self: flex-end;
        justify-content: flex-end;
    }
    
    h1
    {
        padding-left: 5%;
    }
}



