html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav
{
    display: flex;
    align-content: space-between;
}




nav ul li a
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

ul
{
    list-style-type: none;
}

h2
{
    text-decoration: none;
    text-align: center;
    color: white;
    
}

section
{
    display: flex;
    
}