body{
    margin: 0;
    padding: 0;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    font-family: Helvetica;
}

.container{
    display: flex;
    flex-direction: column;
}

#app{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 15vh;
}

#app h1
{
    width: 50%;
}

#expl{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: center;
}

#expl p{
    text-align: center;
    color: #363636;
    margin-right: 20%;
    margin-left: 20%;
}

img{
    height:50%;
    width: 50%;
    padding: 10%;
}


#icon{
    display: flex;
    height: 50%;
    width: 50%;
    flex-direction: column-reverse;
}