body{
    margin: 0;
    padding: 0;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    font-family: Helvetica;
}

#app{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    text-align: center;
    font-size: 25vh;

}

#expl{
    display: flex;
    height: 50%;
}

img{
    height: 25vh;
    padding: 10%;
}

#icon{
    display: flex;
    height: 50%;
    flex-direction: column-reverse;
}